<h2>@Model["brand"].GetName()'s Carriers</h2>
@if (@Model["stores"].Count == 0)
{
  <p>No stores carry this brand!</p>
}
else
{
  <ol>
    @foreach (var store in @Model["stores"])
    {
      <li>
        @store.GetName()
      </li>
    }
  </ol>
}
<h4><a href="/">Return Home</a></h4>
<h4><a href="/brands">Return to Brands</a></h4>
<h4><a href="/stores">View Stores</a></h4>
