<h1>Edit @Model.GetName()</h1>
<form action='/store/edit/@Model.GetId()' method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit">Edit store</button>
</form>
<br>
<h4><a href="/">Return Home</a></h4>
<h4><a href="/stores">Return to Stores</a></h4>
<h4><a href="/brands">View Brands</a></h4>
